@page "/"

@* <h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" /> *@

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="mx-auto">
            <h1 class="fw-light">Codgram</h1>
            
            <p class="lead text-muted">
                Hello World 👋
            </p>
            <p class="lead text-muted">
                We are a group of Lebanese trying to help institutions and organizations tackle the hard situations in Lebanon
                We are currently working on 3 platforms
            </p>
            <p class="lead text-muted">
                🏫 Learning Management System
            </p>
            <p class="lead text-muted">
                The idea behind the LMS is that some of the schools and institutions in Lebanon are not able to deploy Google or Microsoft provided solutions (or others such as moodle) due to the financial crisis.
                We are trying to create a lighter and chipper version of those
            </p>
            <p class="lead text-muted">
                🔊 Chatroom platform
            </p>
            <p class="lead text-muted">

                Some organizations and companies are suffering the consequences of lockdown because they can't afford solution such as Google Workplace or Microsoft Office 365.
                So we are trying to create a platform where employees can communicate with each other.
            </p>
            <p class="lead text-muted">
                🛍 Ecommerce
            </p>
            <p class="lead text-muted">

                Due to the financial crisis in Lebanon people can't afford Ecommerce solutions such as Shopify
                We are trying to create a lighter and chipper alternative
            </p>

            <p>
            <div class="row">

                <div class="col">
                    <a href="https://instagram.com/codgram" target="_blank" >
                        <img src="assets/icons/instagram.svg" width="36"/>
                    </a>
                </div>
                <div class="col">
                    <a href="https://facebook.com/codgram" target="_blank" >
                        <img src="assets/icons/facebook.svg" width="36" height="36"/>
                    </a>
                    
                </div>
                <div class="col">
                    <a href="https://twitter.com/codgram" target="_blank" >
                        <img src="assets/icons/twitter.svg" width="36" height="36"/>
                    </a>
                    
                </div>
                <div class="col">
                    <a href="https://github.com/codgram" target="_blank" >
                        <img src="assets/icons/github.svg" width="36" height="36"/>
                    </a>
                    
                </div>
                <div class="col">
                    <a href="https://opencollective.com/codgram" target="_blank" >
                        <img src="assets/icons/open-collective.svg" width="36" height="36"/>
                    </a>
                    
                </div>


            </div>
            </p>
        </div>
    </div>
</section>


<div class="album py-2 bg-light">


    <div class="card-group">

        <div class="col mb-3">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Coming Soon</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">
                        🔊 Datalk
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Code</button>
                        </div>
                        <small class="text-muted">version 0.1</small>
                    </div>
                </div>
            </div>
        </div>



        <div class="col mb-3">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Coming Soon</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">
                        🛒 Shop
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Code</button>
                        </div>
                        <small class="text-muted">version 0.1</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-3">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Coming Soon</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">
                        🏢 Service Manager
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Code</button>
                        </div>
                        <small class="text-muted">version 0.1</small>
                    </div>
                </div>
            </div>
        </div>



        <div class="col mb-3">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Coming Soon</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">
                        🎒 Learning Management System
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Code</button>
                        </div>
                        <small class="text-muted">version 0.1</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
