@page "/projects"



<div class="card-group">


    <div class="col">

        <div class="card mb-2 ml-2">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
                    dy=".3em">Image cap</text>
            </svg>
            <div class="card-body">
                <h5 class="card-title">Service Manager</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Version 0.1</small>
            </div>
        </div>

    </div>


    <div class="col">

        <div class="card mb-3">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
                    dy=".3em">Image cap</text>
            </svg>
            <div class="card-body">
                <h5 class="card-title">Shop</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Version 0.1</small>
            </div>
        </div>

    </div>


    <div class="col">

        <div class="card mb-3">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
                    dy=".3em">Image cap</text>
            </svg>
            <div class="card-body">
                <h5 class="card-title">Datalk</h5>
                <p class="card-text">Some organizations and companies are suffering the consequences of lockdown 
                                    because they can't afford solution such as Google Workplace or Microsoft Office 365.
                                    So we are trying to create a platform where employees can communicate with each other.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Version 0.1</small>
            </div>
        </div>

    </div>


    <div class="col">

        <div class="card mb-3">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
                    dy=".3em">Image cap</text>
            </svg>
            <div class="card-body">
                <h5 class="card-title">LMS</h5>
                <p class="card-text">The idea behind the LMS is that some of the schools and institutions 
                                in Lebanon are not able to deploy Google or Microsoft provided solutions (or others such as moodle) 
                                due to the financial crisis.
                                We are trying to create a lighter and chipper version of those</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Version 0.1</small>
            </div>
        </div>

    </div>







</div>